
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: #1490D9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 0 20px;
}

.sessao-esquerda {
    display: flex;
    align-items: center;

}

.header-icon {
    width: 30px; 
    height: 30px;
    margin-left: 10px;
   

}

.header-title {
    font-size: 25px; 
    font-weight: bold;
  
}

.sessao-direita {
    display: flex;
    align-items: center;
    margin-right: 99px;
}

.logout-text {
   margin-right: 10px;
    color: #ffff;
    font-size: 20px;
}

.logout-icon {
    width: 23px; 
    height: 23px;
    cursor: pointer;
   
}

.header-title {
    color: white;
    font-size: 25px;
    margin-left: 30px;
}


main {
    flex: 1;
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 40px;
    color: #385084;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 30px;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
    padding: 30px;
}

.menu-logs {
    width: 20px; 
    height: 20px; 
    margin-left: -1%; 
   
}

.icon {
    width: 23px; 
    height: 23px;
    background-color: #14CFD9; 
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.opcoes {
    background-color: #f6f6f6;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 300px;
    padding-bottom: 40px;
}

.opcoes h2 {
    font-size: 23px;
    margin-bottom: 15px;
    color: #385084;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 10px;
    gap: 10px;
}

.opcoes ul {
    list-style-type: none;
    padding: 0;
}

.opcoes ul li {
    margin-bottom: 10px;
    box-shadow: 0 4px 3px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    
}

.opcoes ul li a {
    text-decoration: none;
    color: #1490D9;
    font-weight: 500;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0,0,0, 0.1);
    gap: 10px;
}

.opcoes ul li a:hover {
    background-color: #1490D9;
    color: #fff;
}

footer {
    background-color: #1490D9;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    width: 100%;
    margin-top: auto;
}
