@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    background-color: #1490D9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 0 20px;
}

.sessao-esquerda {
    display: flex;
    align-items: center;
}

.header-icon {
    width: 30px; 
    height: 30px;
    margin-right: 10px; /* Corrigido para margem direita */
}

.header-title {
    color: white; /* Certifique-se de que o título esteja visível */
    font-size: 25px; 
    font-weight: bold;
}

.sessao-direita {
    display: flex;
    align-items: center;
}

.logout-text {
    margin-right: 10px;
    color: #ffff;
    font-size: 20px;
}

.logout-icon {
    width: 23px; 
    height: 23px;
    cursor: pointer;
}

.login h2 {
    color: #385084;
    margin-top: -60px;
    margin-bottom: 48%;
    text-align: center;   
    font-size: 28px; 
}

.login {
    background-color: #F5F5F5;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 100px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

input {
    padding: 14px;
    border: none;
    outline: none;
    font-size: 14px; /* Corrigido para ser mais legível */
    width: 230px;
    border-radius: 15px;
}

button {
    background-color: #1490D9;
    border: none;
    padding: 10px; /* Corrigido para melhorar o espaçamento */
    border-radius: 10px;
    color: #ffff;
    margin-top: 30px;
    display: block;
    width: 40%;
    font-size: 14px; /* Corrigido para ser mais legível */
}

button:hover {
    background-color: #385084;
}
